[submodule "Submodules/c3d"]
	path = Submodules/c3d
	url = https://github.com/pyushkevich/c3d.git
[submodule "Submodules/greedy"]
	path = Submodules/greedy
	url = https://github.com/pyushkevich/greedy.git
