* {
  icon-size: 28px;
  text-align: center;
}

QTabBar {
  left: 0px; right: 0px;
  subcontrol-position: top left;
  subcontrol-origin: margin;
}

QTabBar::tab {
  min-width: 1ex;
  border-bottom-color: gray;
  border-top: 1px solid rgb(108, 108, 108);
  border-bottom: 0px;
  border-left: 1px solid rgb(201, 201, 201);
  border-right: 1px solid rgb(201, 201, 201);
  background-color: qlineargradient(spread:pad, x1:0, y1:0, x2:0, y2:1, stop:0 rgba(255, 255, 255, 255), stop:0.0394089 rgba(245, 245, 245, 255), stop:0.487685 rgba(226, 226, 226, 255), stop:0.502463 rgba(215, 215, 215, 255), stop:1 rgba(245, 245, 245, 255));
  width: 30px;
}

QTabBar::tab:hover, QTabBar::tab:selected {
  background-color: qlineargradient(spread:pad, x1:0, y1:0, x2:0, y2:1, stop:0 rgba(255, 255, 255, 255), stop:0.0394089 rgba(214, 228, 245, 255), stop:0.487685 rgba(193, 205, 221, 255), stop:0.502463 rgba(182, 193, 207, 255), stop:1 rgba(215, 228, 245, 255));
}

QTabWidget::pane {
	border-top: 1px solid rgb(108, 108, 108);
	border-bottom: 1px solid rgb(108, 108, 108);
}
