QMainWindow {
  background-color: rgb(248,248,248);
}
/*
QGroupBox {
  border-image: url(:/root/fltkpanel.png) repeat;
  border-top-width: 8px;
  border-bottom-width: 8px;
  border-left-width: 2px;
  border-right-width: 2px;
  background-origin: content;
  padding-top: -3px;
  padding-bottom: -3px;
  padding-left: 3px;
  padding-right: 3px;
  margin-top: 2.5ex;
  font-weight: bold;
}
*/
QGroupBox {
  background-origin: content;
  margin-top: 2.5ex;
  font-weight: bold;
  font-size: 12px;
  color: rgb(30,30,160);
  background-color: rgb(237,237,237);
  padding: 5px;
  border-radius: 4px;
  border: 1px solid rgb(130,130,130);
}
QGroupBox::title {
  subcontrol-origin: 	margin;
  subcontrol-position: top left;
}

